body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-weight: bold;
  white-space: pre;
}

.box-3d{
  transform-style: preserve-3d; 
  transform: rotateX(-3deg) rotateY(-3deg);
}

.plate{
  display: flex;
  position: absolute;
  -webkit-box-shadow: inset 40px 16px 60px -10px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: inset 40px 16px 60px -10px rgba(0, 0, 0, 0.78);
  box-shadow: inset 40px 16px 60px -10px rgba(0, 0, 0, 0.78);
}

  @media screen and (max-width: 600px) {
    .box-3d{
      transform: rotateX(-0deg) rotateY(-0deg);
    }
  .body{
    width: 100vw;
  }
}
