.slot {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 80px;
  }

  .container {
    position: absolute;
    top: 2px;
    width: 100%;
    transition: top ease-in-out 0.5s;
    text-align: center;
  }